*::before,
*:after {
    box-sizing: border-box;
}

* {
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(10 right, #c8c8b3 0%, #d1d3a7 100%);
}

.box {
    position: relative;
    background: rgba(255, 255, 255, .6);
    width: 786px;
}