<div class="container-fluid">
    <div class="box">
        <h4>Age calculator</h4>
        <div class="datetime-picker">
            <span>Choose your birth date</span>
            <input type="date" id="dataPicker">
            <span>Choosen data will show here </span>
        </div>
        <div class="age-calc">
            <div class="age-box">
                <div class="header">Years</div>
                <div class="value">21</div>
            </div>
            <div class="age-box">
                <div class="header">Months</div>
                <div class="value">252</div>
            </div>
            <div class="age-box">
                <div class="header">days</div>
                <div class="value">1234</div>
            </div>
            <div class="age-box">
                <div class="header">Hours</div>
                <div class="value">12345</div>
            </div>
            <div class="age-box">
                <div class="header">Seconds</div>
                <div class="value">1234567</div>
            </div>
            <div class="age-box">
                <div class="header">Milli-seconds</div>
                <div class="value">1234567</div>
            </div>
        </div>
    </div>
</div>